<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>用户详情</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="~{common/header::header}"></div>
<h4 th:text="${userModel.title}"></h4>
<div>
    <p><strong>ID:</strong><span th:text="${userModel.user.getId()}"></span></p>
    <p><strong>名字:</strong><span th:text="${userModel.user.getName()}"></span></p>
    <p><strong>年龄:</strong><span th:text="${userModel.user.getAge()}"></span></p>
</div>
<div>
    <a th:href="@{'/user/delete/'+${userModel.user.getId()}}">删除</a>
    <a th:href="@{'/user/edit/'+${userModel.user.getId()}}">修改</a>
</div>
<div th:replace="~{common/footer::footer}"></div>
</body>
</html>